<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='5000'/>
  <arg name="vehicle_filter" default="vehicle.*" />
  <arg name="sensor_definition_file"/>
  <arg name="role_name" default="agent"/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <arg name="spawn_point" default=""/>
  <arg name="spawn_agent_vehicle" default="True" />

  <param name="/carla/host" value="$(arg host)" />
  <param name="/carla/port" value="$(arg port)" />
  <param name="/carla/timeout" value="$(arg timeout)" />


  <node pkg="agent_vehicle" type="agent_vehicle.py" name="agent_vehicle2_$(arg role_name)" output="screen">
    <param name="sensor_definition_file" value="$(arg sensor_definition_file)" />
    <param name="vehicle_filter" value="$(arg vehicle_filter)" />
    <param name="spawn_point" value="$(arg spawn_point)" />
    <param name="role_name" value="agent" />
    <param name="spawn_agent_vehicle" value="$(arg spawn_agent_vehicle)" />
  </node>
</launch>